/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/docs/Makefile.in
/docs/reference/Makefile.in
/gdata.pc
/gdata/Makefile.in
/gdata/atom/Makefile.in
/gdata/exif/Makefile.in
/gdata/gd/Makefile.in
/gdata/georss/Makefile.in
/gdata/media/Makefile.in
/gdata/services/Makefile.in
/gdata/services/calendar/Makefile.in
/gdata/services/contacts/Makefile.in
/gdata/services/documents/Makefile.in
/gdata/services/picasaweb/Makefile.in
/gdata/services/youtube/Makefile.in
/gdata/tests/Makefile.in
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libgdata.pc
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/so_locations
/stamp-h1
/tags
